body {
	margin: 0;
	font-family:'Open Sans', sans-serif, serif;
}

/*####################################*/
/*CONTACTEN*/
/*####################################*/

#header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em 2em;
	background: #1b94e5;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid white;
}

h1 {
	margin: 0;
	padding: 0 1em;
	font-size: 3em;
	color: white;
}

h2 {
	margin:0;
	background: #1b94e5;
	padding-left: 10px;
	position: -webkit-sticky;
 	position: sticky;
	top:-0.1em;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	color: white;	
}

#contacten section ul {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#contacten li:last-child {
	border-bottom: 0;
}


#contacten li {
	border-bottom: 1px solid lightgrey;
	list-style: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: -1px;
}

#contacten section li a {
	text-decoration: none;
	color: black;

	display:inline-block;
    width:100%;
    height:100%;
}

/*####################################*/
/*Informatie*/
/*####################################*/

#contacten-info {
	transition: 0.5s ease;
}

#contacten-info li {
	border-bottom: 1px solid grey;
	list-style: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


#contacten-info a {
	text-decoration: none;
}

@media screen and (max-width: 660px) {
	#contacten-info {
	transition: 0.2s ease;
	}
}

/*####################################*/
/*Informatie responsive met JS*/
/*####################################*/

h3 {
	color: white;
	font-size: 2em;
	margin-top: 0;
	padding-top: 1em;
}

.border-box {
	box-sizing: border-box;
}

.fixed {
	background: white;
	position: fixed;
	width: 100%;
	height: 100vh;
	top:0;
	right: -101%;
}

.show {
	right: 0;
}

.overflow {
  	overflow: hidden;
	}

.image {
	height: 10em;
	width: 10em;
	border-radius: 10em;

	margin-bottom: -5em;
	border: 0.5em solid #1b94e5;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);

	animation-name: border;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.back {
	position: absolute;
	left: 5%;
	top: 5%;
	
	color: white;
	font-size: 1em;
}

.head {
	background: #1b94e5;
	margin-top: 0;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;

	animation-name: head;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.details {
	padding-left: 5%;
	padding-top: 5em;
	padding-right: 5%;
}

@keyframes head {
    0%   {background-color: #23c2db;}
    50%  {background-color: #1b94e5;}
    100% {background-color: #23c2db;}
}

@keyframes border {
    0%   {border-color: #23c2db;}
    50%  {border-color: #1b94e5;}
    100% {border-color: #23c2db;}
}

/*####################################*/
/*filter styling*/
/*####################################*/


#filterInput {
	height: 1.6em;
	background: white;
	border: none;
	border-radius: 1em;
	text-align: center;
	width: 100%;
	max-width: 15em;
	color: #000f42;
	font-size: 1em;

	transition: 0.3s ease;
}

#filterInput:focus {
	max-width: 17em;
	font-size: 1em;
	outline: none;
	
}

#filterInput::placeholder {
	color: #000f42;
	padding: 0;
	line-height: 1.3em;
}










